@import '../core/variables';
@import '../core/reset';
@import '../core/functions';
@import '../core/mixins';

.main__detail{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75vh;
}

.article{
    //General properties
    height: rem(500);
    width: rem(800);
    border-radius: rem(50);
    background-color: $color-white;
    box-shadow: 0 0 rem(25) $color-blue;
    //Display
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(25);
    position: relative;
    &__link{
        @include linkReset();
        position: absolute;
        align-self: flex-start;
        transform: translate(rem(-350), rem(10));
    }
    &__detail{
        //Display
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        position: relative;
        gap: rem(20);
    }
}

.detail{
    &__img{
        width: rem(350);
        height: rem(350);
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        align-self: center;
        margin-right: rem(50);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    &__info{
        //Display
        display: flex;
        flex-direction: column;
        gap: rem(15);
        &--title{
            font-size: rem(20);
            padding-bottom: rem(20);
        }
        &--list{
            //General properties
            list-style: none;
            font-size: rem(14);
            //Display
            display: flex;
            flex-direction: column;
            gap: rem(15);
            &--item{
                display: grid;
                grid-template-columns: 0.6fr 0.6fr;
            }
        }
    }
}

