@import '../core/variables';
@import '../core/reset';
@import '../core/functions';
@import '../core/mixins';
@import '../core/mediaqueries';


.characters{
    display: flex;
    justify-content: center;
    margin-bottom: rem(50);
}

.card{
    //General properties
    list-style: none;
    //Display
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: rem(30);
    &__error{
        //General properties
        width: rem(250);
        height: rem(250);
        border-radius: rem(20);
        padding: rem(15);
        background-color: rgba(255,255,255,0.6);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        //Display
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(15);
        @include mediaDesktop(){
            width: rem(500);
            height: rem(350);
        }
        &--img{
            width: rem(200);
            border-radius: rem(20);
            @include mediaDesktop(){
                width: rem(400);
            }
        }
        &--text{
            width: rem(150);
            color: $color-green;
            text-align: center;
            font-size: rem(12);
            @include mediaDesktop(){
                width: rem(300);
            }
            &--word{
                font-weight: bold;
                color: $color-pink;
            }
        }
    }
}