@import '../core/variables';
@import '../core/reset';
@import '../core/functions';
@import '../core/mixins';

.characters{
    display: flex;
    justify-content: center;
}

.card{
    //General properties
    list-style: none;
    //Display
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: rem(30);
}