@import '../core/variables';
@import '../core/reset';
@import '../core/functions';
@import '../core/mixins';

.main__detail{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &--background{
        width: 100vw;
        height: 130vh;
        background-image: url('../../images/rick-n-morty-wallpaper.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        transform: translateY(-25vh);
        opacity: 0.3;
    }
}

.detail{
    height: rem(500);
    width: rem(800);
    border-radius: rem(50);
    background-color: $color-white;
    //Display
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    &__img{
        width: rem(350);
        height: rem(350);
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        align-self: center;
        margin-right: rem(50);
    }
    &__info{
        //Display
        display: flex;
        flex-direction: column;
        gap: rem(15);
        &--title{
            font-size: rem(20);
            padding-top: rem(20);
        }
        &--list{
            //General properties
            list-style: none;
            font-size: rem(14);
            //Display
            display: flex;
            flex-direction: column;
            gap: rem(15);
        }
        &--link{
            @include linkReset();
            font-size: rem(22);
            align-self: flex-start;
            transform: translate(rem(-25), rem(30));
            width: rem(40);
            height: rem(40);
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                background-color: $color-pink;
                border-radius: 50%;
            }
        }
    }
}

