@import '../core/variables';
@import '../core/reset';
@import '../core/functions';
@import '../core/mixins';
@import '../core/mediaqueries';


.form{
    &__text{
        //General properties
        @include fieldset ();
        //Display
        display: flex;
        flex-direction: column;
        gap: rem(10);
        @include mediaTablet(){
            //General properties
            width: 100%;
            //Display
            flex-direction: row;
            justify-content: space-between;
            gap: rem(25);
        }
        @include mediaDesktop(){
            width: fit-content;
        }
        &--label{
            padding-right: rem(20);
        }
        &--input{
            @include input ();
            &:hover{
                //General properties
                background-color: $color-green;
                color: $color-white;
                box-shadow: 0 0 rem(25) $color-blue;
            }
        }
    }
}