@import '../core/variables';
@import '../core/reset';
@import '../core/functions';
@import '../core/mixins';

.form{
    &__select{
        //General properties
        @include fieldset ();
        padding-left: rem(50);
        &--label{
            padding-right: rem(20);
        }
        &--item{
            @include input ();
            cursor: pointer;
            &:hover{
                background-color: $color-green;
                color: $color-white;
                box-shadow: 0 0 rem(25) $color-blue;
            }
        }
    }
}