@import '../core/variables';
@import '../core/reset';
@import '../core/functions';
@import '../core/mixins';
@import '../core/mediaqueries';

.form{
    &__radio{
        //General properties
        cursor: pointer;
        @include fieldset ();
        //Display
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(10);
        @include mediaDesktop(){
            width: fit-content;
            gap: rem(25);
        }
        &--legend{
            padding-bottom: rem(20);
            @include mediaTablet(){
                transform: translateY(rem(7));
                float: left;
            }
        }
        &--container{
            display: flex;
            gap: rem(25);
        }
        &--label{
            //padding-right: rem(20);
        }
        &--icon{
            cursor: pointer;
            color: $color-dark;
            padding-left: rem(10);
            &:hover{
                color: $color-green;
            }
        }
        &--input{
            cursor: pointer;
        }
    }
}