@import '../core/variables';
@import '../core/reset';
@import '../core/functions';
@import '../core/mixins';

.header{
    //General properties
    height: 25vh;
    //Display
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
        display: none;
    }
    &__link{
        z-index: 50;
        @include linkReset ();
        @keyframes  resize {
            0%   {scale: 1;}
            25%  {scale: 1.1;}
            50%  {scale: 1;}
            75%  {scale: 1.1;}
            100% {scale: 1;}
        }
        &--logo{
            width: rem(380);
            &:hover{
                animation: resize 1s linear 0s infinite alternate;
            }
        }
    }
}