@import '../core/variables';
@import '../core/reset';
@import '../core/functions';
@import '../core/mixins';
@import '../core/mediaqueries';

.main__found{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &--container{
        width: rem(250);
        //Display
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(5);
        position: relative;
        @include mediaTablet(){
            width: rem(500);
            height: rem(480);
        }
        @keyframes  resize {
            0%   {scale: 1;}
            25%  {scale: 1.1;}
            50%  {scale: 1;}
            75%  {scale: 1.1;}
            100% {scale: 1;}
        }
        &--icon{
            @include linkReset();
            align-self: flex-start;
            .fa-arrow-left{
                width: rem(40);
                height: rem(40);
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: $color-green-op;
                    color: $color-white;
                    border-radius: 50%;
                }
            }
        }
        &--img{
            width: rem(300);
            @include mediaTablet(){
                width: rem(450);
            }
        }
        &--title{
            color: $color-green;
            font-size: rem(12);
            animation: resize 1s linear 0s infinite alternate;
            @include mediaTablet(){
                font-size: rem(16);
            }
        }
    }
}