// fonts

$font-familyOpenSans: "Open Sans", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;

// colors
$color-dark: #221f20;
$color-grey: #d5d5d5;
$-color-grey-op: rgba(255,255,255,0.6);
$color-white: #ffffff;
$color-green: rgb(89, 222, 36);
$color-green-op: rgba(89, 222, 36, 0.619);
$color-blue: rgb(14, 193, 220);
$color-pink: rgb(255, 120, 201);
$color-gradient: linear-gradient(rgba(14, 193, 220, 0.512), rgba(89, 222, 36, 0.589));

//project colors
$color-main-text: $color-dark;
$color-grey-btn: $color-grey;

